*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  text-align: start;
  font-family: monospace;
  font-size: 16px;
  height: 100%;
  margin: 0;
}

/***********************************************************************/

.pad-left-p5rem {
  padding-left: 0.5rem;
}

.font-sz-2rem {
  font-size: 2rem;
}

.flex-r-c-c {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-c-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
