*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: monospace;
  font-size: 16px;
}

header {
  width: 100vw;
  padding: 2rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-flex;
  justify-content: start;
  align-items: center;
}

header form {
  flex-grow: 1;
}

header span {
  font-size: 1.5rem;
  font-weight: bold;
}

label {
  font-weight: normal;
}

/**********************************************************/

.sliderRed {
  accent-color: red;
}

.sliderGreen {
  accent-color: green;
}

.sliderBlue {
  accent-color: blue;
}

.refreshBtn {
  font-size: 1.5rem;
  padding: 0;
  padding-bottom: 0.16rem;
  border-radius: 0.25rem;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}
