*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: monospace;
  font-size: 16px;
  text-align: center;
}

html,
body {
  height: 100%;
}

/*******************************************************************/

.home-link-wrapper {
  position: absolute;
  border: 0.15rem solid black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  padding-top: 0.6rem;
  bottom: 0;
  left: 0;
}

.home-link {
  text-decoration: none;
  color: black;
}

.home-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

/*******************************************************************/

.pad-block-2rem {
  padding-block: 1rem;
}

.pad-inline-p25rem {
  padding-inline: 0.25rem;
}

.margin-left-p5rem {
  margin-left: 0.5rem;
}

.font-sz-2rem {
  font-size: 2rem;
}

.font-monospace {
  font-family: monospace;
}

.flex-r-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-grow1 {
  flex-grow: 1;
}

.flex-gap {
  gap: 1rem;
}

.flex-wrap {
  flex-wrap: wrap;
}
