*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: monospace;
  font-size: 16px;
  text-align: center;
}

html,
body {
  height: 100%;
}

/*******************************************************************/

.site-footer {
  padding: 1.5rem 1rem;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.site-nav {
  padding: 2rem 1rem;
}

.site-nav a {
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  text-decoration: none;
}

/*******************************************************************/

.pad-block-2rem {
  padding-block: 1rem;
}

.pad-inline-p25rem {
  padding-inline: 0.25rem;
}

.margin-left-p5rem {
  margin-left: 0.5rem;
}

.font-sz-2rem {
  font-size: 2rem;
}

.font-monospace {
  font-family: monospace;
}

.flex-r-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-grow1 {
  flex-grow: 1;
}
