*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: monospace;
  font-size: 16px;
  overflow: hidden;
}

main {
  height: 100%;
  background-image: linear-gradient(gold, gold);
  background-repeat: no-repeat;
}

/****************************************************************************************************/

.counter-label::selection {
  background-color: transparent;
}

.reset-btn {
  font-family: monospace;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
}

.home-link-wrapper {
  position: absolute;
  border: 0.15rem solid black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  padding-top: 0.6rem;
  bottom: 0;
  left: 0;
}

.home-link {
  text-decoration: none;
  color: black;
}

.home-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

/****************************************************************************************************/

.pad-1rem {
  padding: 1rem;
}

.heigth-100 {
  height: 100%;
}

.bg-clr-gold {
  background-color: gold;
}

.font-sz-1rem {
  font-size: 1rem;
}
.font-sz-1p5rem {
  font-size: 1.5rem;
}
.font-sz-2rem {
  font-size: 2rem;
}
.font-sz-4rem {
  font-size: 4rem;
}

.pos-fixed {
  position: fixed;
}

.flex-r-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-r-fs-c {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}
