*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  height: 100%;
  font-family: monospace;
  font-size: 16px;
}

main {
  background-image: linear-gradient(gold, gold);
  background-repeat: no-repeat;
}

/****************************************************************************************************/

.pad-1rem {
  padding: 1rem;
}

.heigth-100 {
  height: 100%;
}

.bg-clr-gold {
  background-color: gold;
}

.font-sz-1rem {
  font-size: 1rem;
}
.font-sz-1p5rem {
  font-size: 1.5rem;
}
.font-sz-2rem {
  font-size: 2rem;
}

.pos-fixed {
  position: fixed;
}

.flex-r-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-r-fs-c {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}
