*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  font-size: 16px;
  font-family: monospace;

  --pointer-seconds-degree: 0deg;
  --pointer-minutes-degree: 0deg;
  --pointer-hours-degree: 0deg;
}

body {
  height: 100%;
  background-color: gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.analogClock {
  width: 24rem;
  height: 24rem;
  background-color: white;
  border: 0.25rem solid black;
  border-radius: 12rem;
  box-shadow: 0.2rem 0.2rem 0.18rem rgb(37, 37, 37);
  position: relative;
}

.clockMiddle {
  position: absolute;
  width: 5%;
  height: 5%;
  background-color: black;
  border-radius: 100%;
  bottom: 50%;
  left: 50%;
  translate: -50% 50%;
  transform-origin: bottom center;
}

.pointer {
  position: absolute;
  background-color: black;
  border-radius: 0.25rem;
  bottom: 50%;
  left: 50%;
  translate: -50%;
  transform-origin: bottom center;
}

.seconds {
  width: 0.75%;
  height: 49%;
  rotate: var(--pointer-seconds-degree);
}

.minutes {
  width: 1%;
  height: 48%;
  rotate: var(--pointer-minutes-degree);
}

.hours {
  width: 1.5%;
  height: 30%;
  rotate: var(--pointer-hours-degree);
}

.digitalClock {
  margin-top: 2rem;
  width: 24rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
}
